<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="웹사이트">
  <meta name="description" content="웹사이트입니다.">
  <meta name="keywords" content="키워드,키워드,키워드">
  <meta property="og:title" content="웹사이트">
  <meta property="og:description" content="웹사이트입니다">
  <meta property="og:image" content="https://웹사이트/images/opengraph.png">
  <meta property="og:url" content="https://웹사이트">
  <title>공연예약 | test1</title>
  <link rel="stylesheet" href="../resources/static/css/setting.css">
  <link rel="stylesheet" href="../resources/static/css/plugin.css">
  <link rel="stylesheet" href="../resources/static/css/template.css">
  <link rel="stylesheet" href="../resources/static/css/common.css">
  <link rel="stylesheet" href="../resources/static/css/style.css">
</head>

<body>
  <!-- [S]basic-N2 -->
  <div class="basic-N2" data-bid="YALVQr2Mqm" id="">
    <div class="header-inner">
      <div class="header-container container-lg">
        <h1 class="header-title">
          <a href="javascript:void(0)">
            <img src="../medias/04fdd970a205455b8317246043e71402.png" alt="">
          </a>
        </h1>
        <div class="header-right">
          <div class="header-title header-mobile-top">
            <a href="javascript:void(0)">
              <img src="../resources/static/images/img_logo_black.png" alt="로고">
            </a>
          </div>
          <ul class="header-gnblist">
            <li class="header-gnbitem">
              <a class="header-gnblink" href="home.html">
                <span>홈</span>
              </a>
            </li>
            <li class="header-gnbitem">
              <a class="header-gnblink" href="contestlist.html">
                <span>공연</span>
              </a>
            </li>
            <li class="header-gnbitem">
              <a class="header-gnblink" href="community.html">
                <span contenteditable="true">게시판</span>
              </a>
            </li>
            <li class="header-gnbitem">
              <a class="header-gnblink" href="signup.html">
                <span>로그인</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="header-utils">
          <button class="btn-momenu">
            <img src="../resources/static/icons/ico_menu_black.svg" alt="모바일메뉴 아이콘">
          </button>
          <button class="btn-close">
            <img src="../resources/static/icons/ico_close_black.svg" alt="닫기 아이콘">
          </button>
        </div>
      </div>
    </div>
    <div class="header-dim"></div>
  </div>
  <!-- [E]basic-N2 -->
  <!-- [S]basic-N3 -->
  <header class="basic-N3" data-bid="pFluFRInrX" id="">
    <div class="header-dim"></div>
  </header>
  <!-- [E]basic-N3 -->
  <main class="th-layout-main ">
    <!-- [S]basic-N51 -->
    <div class="basic-N51" data-bid="PjLuFriO07" id="">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="contents-left">
            <div class="contents-thumbnail">
              <img class="contents-thumbimg" src="../resources/static/images/img_basic_N51_1.png" alt="썸네일이미지">
            </div>
          </div>
          <div class="contents-right">
            <div class="contents-right-group">
              <div class="contents-brand">
                <div class="contents-brand-group">
                  <button class="contents-btn btn-like-line">
                  </button>
                  <button class="contents-btn btn-like-fill">
                    <img src="../resources/static/icons/ico_like_black_fill.svg" alt="하트 채워진 아이콘">
                  </button>
                  <button class="contents-btn">
                  </button>
                </div>
              </div>
              <div th:each="performance : ${performances}">
                <div>
                  <h2 th:text="${performance.performanceName}">Performance Name</h2>
                  <p th:text="${performance.performanceContents}">Contents</p>
                  <p th:text="'Date: ' + ${#temporals.format(performance.performanceDate, 'yyyy-MM-dd HH:mm')}">Date</p>
                  <p th:text="'Price: ' + ${performance.performancePrice} + '원'">Price</p>
              </div>
            </div>
            <div class="contents-right-group">
              <div class="selectset selectset-round selectset-lg">
              <button class="selectset-toggle btn" type="button">
                  <span>날짜를 고르시오</span>
              </button>
              <ul class="selectset-list">
                  <li th:each="performance : ${performances}" class="selectset-item">
                      <button class="selectset-link btn" type="button" th:data-value="${performance.performanceDate}" th:text="${#dates.format(performance.performanceDate, 'yyyy-MM-dd')}">Date</button>
                  </li>
              </ul>
              <div class="contents-btn-group">
                  <button class="btnset btnset-line" type="button">좌석선택</button>
              </div>
              </div>
          
              
          </div>
            
          </div>
        </div>
      </div>
    </div>
    <!-- [E]basic-N51 -->
    <!-- [S]basic-N29 -->
    <div class="basic-N29" data-bid="JdLUQZdAc1" id="">
    </div>
    <!-- [E]basic-N29 -->
    <!-- [S]basic-N10 -->
    <div class="basic-N10" data-bid="OXLUQZdy7d" id="">
    </div>
    <!-- [E]basic-N10 -->
    <!-- [S]basic-N52 -->
    <div class="basic-N52" data-bid="LjluFRIo6B" id="">
    </div>
    <!-- [E]basic-N52 -->
  </main>
  <!-- [S]basic-N15 -->
  <div class="basic-N15" data-bid="TjLvQtyfG2" id="">
    <div class="contents-inner">
      <div class="contents-container container-md">
        <div class="textset">
          <h2 class="textset-tit">상세 내역&nbsp;</h2>
        </div>
        <div class="cardset">
          <figure class="cardset-figure">
            <img class="cardset-img img-pc" src="../resources/static/images/img_basic_N15_1.png" alt="PC 이미지">
            <img class="cardset-img img-mobile" src="../resources/static/images/img_basic_mobile_N15_1.png" alt="모바일 이미지">
          </figure>
          <div class="cardset-body">
            <h5 class="cardset-tit">공연1</h5>
            <p class="cardset-desc"> 웹사이트는 비즈니스의 온라인 존재감을 나타내는 중요한 수단이며, 비즈니스가 웹사이트를 보유하면 <br> 전 세계 어디에서든 제품과 서비스에 대한 정보를 제공할 수 있습니다. 이를 통해 새로운 고객을 유치하고, 기존 고객과의 관계를 유지할 수 있습니다. </p>
            <p class="cardset-desc"> 웹사이트는 정보에 대한 쉬운 접근성을 제공합니다. 사용자는 언제 어디서든 웹사이트를 통해 필요한 정보를 검색할 수 있으며, <br> 일반적으로 정보에 대한 정확성과 신뢰성이 높습니다. 비즈니스의 경쟁력을 강화하는 데에 큰 역할을 합니다. <br> 경쟁업체들이 웹사이트를 갖추고 있을 때, 비즈니스가 웹사이트를 보유하지 않는다면 경쟁에서 밀릴 수 있습니다. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [E]basic-N15 -->
  <!-- [S]basic-N4 -->
  <footer class="basic-N4" data-bid="OFluFrioa3" id="">
    <div class="footer-container container-lg">
      <div class="footer-bottom">
        <div class="footer-txt">
          <p><span>강원도 춘천시 강원대학길 1</span></p>
          <p>
            <span>T. 033-250-6114</span>
          </p>
        </div>
        <div class="footer-txt">
          <p><span>KANGWON NATIONAL UNIVERSITY.</span></p>
        </div>
      </div>
    </div>
  </footer>
  <!-- [E]basic-N4 -->
  <script src="../resources/static/js/setting.js"></script>
  <script src="../resources/static/js/plugin.js"></script>
  <script src="../resources/static/js/template.js"></script>
  <script src="../resources/static/js/common.js"></script>
  <script src="../resources/static/js/script.js"></script>
</body>