<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="웹사이트">
  <meta name="description" content="웹사이트입니다.">
  <meta name="keywords" content="키워드,키워드,키워드">
  <meta property="og:title" content="웹사이트">
  <meta property="og:description" content="웹사이트입니다">
  <meta property="og:image" content="https://웹사이트/images/opengraph.png">
  <meta property="og:url" content="https://웹사이트">
  <title>게시글 목록 | test1</title>
  <link rel="stylesheet" href="/css/setting.css">
  <link rel="stylesheet" href="/css/plugin.css">
  <link rel="stylesheet" href="/css/template.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<!-- [S]basic-N2 -->
<div class="basic-N2" data-bid="OPlVqR41MZ" >
  <div class="header-inner">
    <div class="header-container container-lg">
      <h1 class="header-title">
        <a href="javascript:void(0)">
          <img src="../medias/04fdd970a205455b8317246043e71402.png" alt="">
        </a>
      </h1>
      <div class="header-right">
        <div class="header-title header-mobile-top">
          <a href="javascript:void(0)">
            <img src="/images/img_logo_black.png" alt="로고">
          </a>
        </div>
        <ul class="header-gnblist">
          <li class="header-gnbitem">
            <a class="header-gnblink" href="home.html">
              <span>홈</span>
            </a>
          </li>
          <li class="header-gnbitem">
            <a class="header-gnblink" href="contestlist.html">
              <span>공연</span>
            </a>
          </li>
          <li class="header-gnbitem">
            <a class="header-gnblink" href="community.html">
              <span contenteditable="true">게시판</span>
            </a>
          </li>
          <li class="header-gnbitem">
            <a class="header-gnblink" href="signinup.html">
              <span>로그인</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="header-dim"></div>
</div>
<!-- [E]basic-N2 -->
<!-- [S]basic-N2 -->

<!-- [E]basic-N34 -->
<main class="th-layout-main ">
  <!-- [S]basic-N37 -->
  <div class="basic-N37" data-bid="ANLUFrPS7y" >
  </div>
  <!-- [E]basic-N37 -->
  <!-- [S]basic-N53 -->
  <div class="basic-N53" data-bid="QYlufrTUM0">
    <div class="contents-inner">
      <div class="contents-container container-md">
        <h2> 게시판 </h2>
        <hr class="hr1" >
        <form th:action="@{/search}" method="get">
            <span class="right">
                <input type="text" name="query" placeholder="검색할 제목 입력">
                <input type="submit" value="검색" class="gradient">
            </span>
        </form>
        <br><br>
        <a href="createpost.html" id="writeButton" class="btn">글 작성</a>
        <br>
        <table>
          <tbody>
          <tr>
            <th>번호</th>
            <th>제목</th>
            <th>글쓴이</th>
            <th>일시</th>
            <th>조회수</th>
          </tr>
          <tr th:each="Post, stat : ${Postlist}">
            <td th:text="${stat.count}">1</td> <!-- stat.count는 Thymeleaf의 반복 인덱스를 사용 -->
            <td th:text="${Post.postSubject}">게시글 제목</td>
            <td th:text="${Post.member.name}">글쓴이 이름</td>
            <td th:text="${#dates.format(Post.postUpdateDate, 'yyyy-MM-dd HH:mm')}">0000-00-00 00:00</td>
            <td th:text="${Post.viewCount}">0</td> <!-- 조회수, Post 엔티티에 추가 필요 -->
          </tr>
          </tbody>
        </table>
        <br>
        <nav class="pagiset pagiset-line">
          <div class="pagiset-ctrl">
            <a class="pagiset-link pagiset-first" href="javascript:void(0)">
              <span class="visually-hidden">처음</span>
            </a>
          </div>
          <div class="pagiset-ctrl">
            <a class="pagiset-link pagiset-prev" href="javascript:void(0)">
              <span class="visually-hidden">이전</span>
            </a>
          </div>
          <div class="pagiset-list">
            <a class="pagiset-link" href="javascript:void(0)">1</a>
            <a class="pagiset-link" href="javascript:void(0)">2</a>
            <a class="pagiset-link" href="javascript:void(0)">3</a>
            <a class="pagiset-link" href="javascript:void(0)">4</a>
          </div>
          <div class="pagiset-ctrl">
            <a class="pagiset-link pagiset-next" href="javascript:void(0)">
              <span class="visually-hidden">다음</span>
            </a>
          </div>
          <div class="pagiset-ctrl">
            <a class="pagiset-link pagiset-last" href="javascript:void(0)">
              <span class="visually-hidden">마지막</span>
            </a>
          </div>
        </nav>
        <span class="right">
          </span>
      </div>
    </div>
  </div>
  <!-- [E]basic-N53 -->
  <!-- [S]basic-N24 -->
  <div class="basic-N24" data-bid="BULujLZ1zl" >
  </div>
  <!-- [E]basic-N24 -->
</main>
<!-- [S]basic-N4 -->
<footer class="basic-N4" data-bid="wXLUfRPsjY" >
  <div class="footer-container container-lg">
    <div class="footer-bottom">
      <div class="footer-txt">
        <p><span>강원도 춘천시 강원대학길 1</span></p>
        <p>
          <span>T. 033-250-6114</span>
        </p>
      </div>
      <div class="footer-txt">
        <p><span>KANGWON NATIONAL UNIVERSITY.</span></p>
      </div>
    </div>
  </div>
</footer>
<!-- [E]basic-N4 -->
<script src="/js/setting.js"></script>
<script src="/js/plugin.js"></script>
<script src="/js/template.js"></script>
<script src="/js/common.js"></script>
<script src="/js/script.js"></script>
</body>