<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="웹사이트">
  <meta name="description" content="웹사이트입니다.">
  <meta name="keywords" content="키워드,키워드,키워드">
  <meta property="og:title" content="웹사이트">
  <meta property="og:description" content="웹사이트입니다">
  <meta property="og:image" content="https://웹사이트/images/opengraph.png">
  <meta property="og:url" content="https://웹사이트">
  <title>회원가입 | test1</title>
  <link rel="stylesheet" href="../resources/static/css/setting.css">
  <link rel="stylesheet" href="../resources/static/css/plugin.css">
  <link rel="stylesheet" href="../resources/static/css/template.css">
  <link rel="stylesheet" href="../resources/static/css/common.css">
  <link rel="stylesheet" href="../resources/static/css/style.css">
</head>

<body>
  <!-- [S]basic-N2 -->
  <header class="basic-N2" data-bid="dJLUIKUyd3" id="">
    <div class="header-inner">
      <div class="header-container container-lg">
        <h1 class="header-title">
          <a href="javascript:void(0)">
            <img src="../medias/04fdd970a205455b8317246043e71402.png" alt="">
          </a>
        </h1>
        <div class="header-right">
          <div class="header-title header-mobile-top">
            <a href="javascript:void(0)">
              <img src="../resources/static/images/img_logo_black.png" alt="로고">
            </a>
          </div>
          <ul class="header-gnblist">
            <li class="header-gnbitem">
              <a class="header-gnblink" href="javascript:void(0)">
                <span>홈</span>
              </a>
            </li>
            <li class="header-gnbitem">
              <a class="header-gnblink" href="javascript:void(0)">
                <span>공연예매</span>
              </a>
            </li>
            <li class="header-gnbitem">
              <a class="header-gnblink" href="javascript:void(0)">
                <span>고객센터</span>
              </a>
            </li>
            <li class="header-gnbitem">
              <a class="header-gnblink" href="javascript:void(0)">
              </a>
            </li>
          </ul>
        </div>
        <div class="header-utils">
          <button class="btn-momenu">
            <img src="../resources/static/icons/ico_menu_black.svg" alt="모바일메뉴 아이콘">
          </button>
          <button class="btn-close">
            <img src="../resources/static/icons/ico_close_black.svg" alt="닫기 아이콘">
          </button>
        </div>
      </div>
    </div>
    <div class="header-dim"></div>
  </header>
  <!-- [E]basic-N2 -->
  <main class="th-layout-main ">
    <!-- [S]basic-N29 -->
    <div class="basic-N29" data-bid="LSluIKUyHf" id="">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="textset">
            <h2 class="textset-tit">Join membership</h2>
            <h3 class="textset-subtit">환영합니다</h3>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]basic-N29 -->
    <!-- [S]basic-N37 -->
    <div class="basic-N37" data-bid="oalUIKuyl9" id="">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="form-group form-line">
            <div class="contents-check">
              <h6 class="form-tit">
                <font color="#111111">재학유무</font>*
              </h6>
              <div class="checkset-wrap">
                <div class="checkset">
                  <input id="basic-N37-1" class="checkset-input input-fill" type="checkbox" value="" checked="">
                  <label class="checkset-label" for="basic-N37-1"></label>
                  <span class="checkset-text">O</span>
                </div>
                <div class="checkset">
                  <input id="basic-N37-2" class="checkset-input input-fill" type="checkbox" value="">
                  <label class="checkset-label" for="basic-N37-2"></label>
                  <span class="checkset-text">X</span>
                </div>
              </div>
            </div>
            <div class="inputset inputset-line inputset-lg inputset-label">
              <label>
                <h6 class="inputset-tit">이름<span>*</span>
                </h6>
                <input type="text" class="inputset-input form-control" placeholder="이름을 입력해주세요." aria-label="내용" required="">
              </label>
            </div>
            <div class="inputset inputset-line inputset-lg inputset-label">
              <label>
                <h6 class="inputset-tit">E-mail<span>*</span>
                </h6>
                <input type="text" class="inputset-input form-control" placeholder="이메일을 입력해주세요." aria-label="내용" required="">
              </label>
            </div>
            <div class="inputset inputset-line inputset-lg inputset-label">
              <label>
                <h6 class="inputset-tit">비밀번호* </h6>
                <input type="text" class="inputset-input form-control" placeholder="'-'를 빼고 입력해주세요." aria-label="내용" required="">
              </label>
            </div>
            <div class="inputset inputset-line inputset-lg inputset-label">
              <label>
                <h6 class="inputset-tit">
                  <font color="#111111">비밀번호 확인</font>*
                </h6>
                <textarea class="inputset-textarea form-control" placeholder="영어,숫자,특수문자 포함 8자이상" required=""></textarea>
              </label>
            </div>
            <div class="form-btn">
              <button class="btnset" type="button">가입하기</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]basic-N37 -->
    <!-- [S]basic-N38 -->
    <div class="basic-N38" data-bid="ZYLUIKuyqb" id="">
    </div>
    <!-- [E]basic-N38 -->
  </main>
  <!-- [S]basic-N4 -->
  <footer class="basic-N4" data-bid="tsLUikuYUL" id="">
    <div class="footer-container container-lg">
      <div class="footer-bottom">
        <div class="footer-txt">
          <p><span>강원도 춘천시 강원대학길 1</span></p>
          <p>
            <span>T. 033-250-6114</span>
          </p>
        </div>
        <div class="footer-txt">
          <p><span>KANGWON NATIONAL UNIVERSITY.</span></p>
        </div>
      </div>
    </div>
  </footer>
  <!-- [E]basic-N4 -->
  <script src="../resources/static/js/setting.js"></script>
  <script src="../resources/static/js/plugin.js"></script>
  <script src="../resources/static/js/template.js"></script>
  <script src="../resources/static/js/common.js"></script>
  <script src="../resources/static/js/script.js"></script>
</body>