<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="웹사이트">
  <meta name="description" content="웹사이트입니다.">
  <meta name="keywords" content="키워드,키워드,키워드">
  <meta property="og:title" content="웹사이트">
  <meta property="og:description" content="웹사이트입니다">
  <meta property="og:image" content="https://웹사이트/images/opengraph.png">
  <meta property="og:url" content="https://웹사이트">
  <title>문의 | test1</title>
  <link rel="stylesheet" href="../resources/css/setting.css">
  <link rel="stylesheet" href="../resources/css/plugin.css">
  <link rel="stylesheet" href="../resources/css/template.css">
  <link rel="stylesheet" href="../resources/css/common.css">
  <link rel="stylesheet" href="../resources/css/style.css">
</head>

<body>
  <!-- [S]basic-N2 -->
  <header class="basic-N2" data-bid="NGLUfRprSL">
    <div class="header-inner">
      <div class="header-container container-lg">
        <h1 class="header-title">
          <a href="javascript:void(0)">
            <img src="../medias/04fdd970a205455b8317246043e71402.png" alt="">
          </a>
        </h1>
        <div class="header-right">
          <div class="header-title header-mobile-top">
            <a href="javascript:void(0)">
              <img src="../resources/images/img_logo_black.png" alt="로고">
            </a>
          </div>
          <ul class="header-gnblist">
            <li class="header-gnbitem">
              <a class="header-gnblink" href="javascript:void(0)">
                <span>홈</span>
              </a>
            </li>
            <li class="header-gnbitem">
              <a class="header-gnblink" href="javascript:void(0)">
                <span>공연예매</span>
              </a>
            </li>
            <li class="header-gnbitem">
              <a class="header-gnblink" href="javascript:void(0)">
                <span>고객센터</span>
              </a>
            </li>
            <li class="header-gnbitem">
              <a class="header-gnblink" href="javascript:void(0)">
                <span></span>
              </a>
            </li>
          </ul>
        </div>
        <div class="header-utils">
          <button class="btn-momenu">
            <img src="../resources/icons/ico_menu_black.svg" alt="모바일메뉴 아이콘">
          </button>
          <button class="btn-close">
            <img src="../resources/icons/ico_close_black.svg" alt="닫기 아이콘">
          </button>
        </div>
      </div>
    </div>
    <div class="header-dim"></div>
  </header>
  <!-- [E]basic-N2 -->
  <!-- [S]basic-N10 -->
  <div class="basic-N10" data-bid="MnLUiKsftt" id="">
    <div class="contents-container">
      <img class="contents-visual img-pc" src="../resources/images/img_subvisual.png" alt="서브 비주얼 PC 이미지">
      <img class="contents-visual img-mobile" src="../resources/images/img_subvisual_mobile.png" alt="서브 비주얼 모바일 이미지">
      <div class="contents-body container-md">
        <div class="textset textset-visual">
          <h2 class="textset-tit">Customer service</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- [E]basic-N10 -->
  <!-- [S]basic-N34 -->
  <div class="basic-N34" data-bid="KaLUJLXITm" id="">
    <div class="contents-inner">
      <div class="contents-container container-md">
        <div class="textset">
          <h2 class="textset-tit">자주 하시는 질문&nbsp;</h2>
          <p class="textset-desc"></p>
        </div>
      </div>
    </div>
  </div>
  <!-- [E]basic-N34 -->
  <main class="th-layout-main ">
    <!-- [S]basic-N37 -->
    <div class="basic-N37" data-bid="ANLUFrPS7y" id="">
    </div>
    <!-- [E]basic-N37 -->
    <!-- [S]basic-N53 -->
    <div class="basic-N53" data-bid="QYlufrTUM0">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="accordset accordset-qna accordset-plus">
            <div class="accordset-item">
              <div class="accordset-header">
                <button class="accordset-button btn" type="button">
                  <span class="accordset-q">Q</span> 회원 등급은 어떻게 되나요? </button>
              </div>
              <div class="accordset-body">
                <div class="accordset-content">
                  <span class="accordset-a">A</span> 상품이 출고 이전인 경우 <br> 마이 페이지 &gt; 주문 목록/배송조회에서 주문 상태가 ‘결제완료’ 및 ‘상품 준비중’ 인 경우에는 <br> 주문 취소를 클릭해주시거나 070-8872-8874로 전화 주시면 주문 취소 도와드리겠습니다.
                </div>
              </div>
            </div>
            <div class="accordset-item">
              <div class="accordset-header">
                <button class="accordset-button btn" type="button">
                  <span class="accordset-q">Q</span> 가상계좌 입금 시 입금 기한은 언제까지인가요? </button>
              </div>
              <div class="accordset-body">
                <div class="accordset-content">
                  <span class="accordset-a">A</span> 상품이 출고 이전인 경우 <br> 마이 페이지 &gt; 주문 목록/배송조회에서 주문 상태가 ‘결제완료’ 및 ‘상품 준비중’ 인 경우에는 <br> 주문 취소를 클릭해주시거나 070-8872-8874로 전화 주시면 주문 취소 도와드리겠습니다.
                </div>
              </div>
            </div>
            <div class="accordset-item active">
              <div class="accordset-header">
                <button class="accordset-button btn" type="button">
                  <span class="accordset-q">Q</span> 주문 취소를 하고 싶어요. </button>
              </div>
              <div class="accordset-body">
                <div class="accordset-content">
                  <span class="accordset-a">A</span> 상품이 출고 이전인 경우 <br> 마이 페이지 &gt; 주문 목록/배송조회에서 주문 상태가 ‘결제완료’ 및 ‘상품 준비중’ 인 경우에는 <br> 주문 취소를 클릭해주시거나 070-8872-8874로 전화 주시면 주문 취소 도와드리겠습니다.
                </div>
              </div>
            </div>
            <div class="accordset-item">
              <div class="accordset-header">
                <button class="accordset-button btn" type="button">
                  <span class="accordset-q">Q</span> 쿠폰은 어떻게 사용하나요? </button>
              </div>
              <div class="accordset-body">
                <div class="accordset-content">
                  <span class="accordset-a">A</span> 상품이 출고 이전인 경우 <br> 마이 페이지 &gt; 주문 목록/배송조회에서 주문 상태가 ‘결제완료’ 및 ‘상품 준비중’ 인 경우에는 <br> 주문 취소를 클릭해주시거나 070-8872-8874로 전화 주시면 주문 취소 도와드리겠습니다.
                </div>
              </div>
            </div>
            <div class="accordset-item">
              <div class="accordset-header">
                <button class="accordset-button btn" type="button">
                  <span class="accordset-q">Q</span> 결제 수단은 어떤 것이 있나요? </button>
              </div>
              <div class="accordset-body">
                <div class="accordset-content">
                  <span class="accordset-a">A</span> 상품이 출고 이전인 경우 <br> 마이 페이지 &gt; 주문 목록/배송조회에서 주문 상태가 ‘결제완료’ 및 ‘상품 준비중’ 인 경우에는 <br> 주문 취소를 클릭해주시거나 070-8872-8874로 전화 주시면 주문 취소 도와드리겠습니다.
                </div>
              </div>
            </div>
            <div class="accordset-item">
              <div class="accordset-header">
                <button class="accordset-button btn" type="button">
                  <span class="accordset-q">Q</span> 혜택에는 무엇이 있나요? </button>
              </div>
              <div class="accordset-body">
                <div class="accordset-content">
                  <span class="accordset-a">A</span> 상품이 출고 이전인 경우 <br> 마이 페이지 &gt; 주문 목록/배송조회에서 주문 상태가 ‘결제완료’ 및 ‘상품 준비중’ 인 경우에는 <br> 주문 취소를 클릭해주시거나 070-8872-8874로 전화 주시면 주문 취소 도와드리겠습니다.
                </div>
              </div>
            </div>
            <div class="accordset-item">
              <div class="accordset-header">
                <button class="accordset-button btn" type="button">
                  <span class="accordset-q">Q</span> 후기는 어디서 작성하나요? </button>
              </div>
              <div class="accordset-body">
                <div class="accordset-content">
                  <span class="accordset-a">A</span> 상품이 출고 이전인 경우 <br> 마이 페이지 &gt; 주문 목록/배송조회에서 주문 상태가 ‘결제완료’ 및 ‘상품 준비중’ 인 경우에는 <br> 주문 취소를 클릭해주시거나 070-8872-8874로 전화 주시면 주문 취소 도와드리겠습니다.
                </div>
              </div>
            </div>
            <div class="accordset-item">
              <div class="accordset-header">
                <button class="accordset-button btn" type="button">
                  <span class="accordset-q">Q</span> 회원 가입은 어떻게 하나요? </button>
              </div>
              <div class="accordset-body">
                <div class="accordset-content">
                  <span class="accordset-a">A</span> 상품이 출고 이전인 경우 <br> 마이 페이지 &gt; 주문 목록/배송조회에서 주문 상태가 ‘결제완료’ 및 ‘상품 준비중’ 인 경우에는 <br> 주문 취소를 클릭해주시거나 070-8872-8874로 전화 주시면 주문 취소 도와드리겠습니다.
                </div>
              </div>
            </div>
            <div class="accordset-item">
              <div class="accordset-header">
                <button class="accordset-button btn" type="button">
                  <span class="accordset-q">Q</span> 회원 탈퇴는 어떻게 하나요? </button>
              </div>
              <div class="accordset-body">
                <div class="accordset-content">
                  <span class="accordset-a">A</span> 상품이 출고 이전인 경우 <br> 마이 페이지 &gt; 주문 목록/배송조회에서 주문 상태가 ‘결제완료’ 및 ‘상품 준비중’ 인 경우에는 <br> 주문 취소를 클릭해주시거나 070-8872-8874로 전화 주시면 주문 취소 도와드리겠습니다.
                </div>
              </div>
            </div>
            <div class="accordset-item">
              <div class="accordset-header">
                <button class="accordset-button btn" type="button">
                  <span class="accordset-q">Q</span> 고객불만 처리는 어떻게 진행되나요? </button>
              </div>
              <div class="accordset-body">
                <div class="accordset-content">
                  <span class="accordset-a">A</span> 상품이 출고 이전인 경우 <br> 마이 페이지 &gt; 주문 목록/배송조회에서 주문 상태가 ‘결제완료’ 및 ‘상품 준비중’ 인 경우에는 <br> 주문 취소를 클릭해주시거나 070-8872-8874로 전화 주시면 주문 취소 도와드리겠습니다.
                </div>
              </div>
            </div>
          </div>
          <nav class="pagiset pagiset-line">
            <div class="pagiset-ctrl">
              <a class="pagiset-link pagiset-first" href="javascript:void(0)">
                <span class="visually-hidden">처음</span>
              </a>
            </div>
            <div class="pagiset-ctrl">
              <a class="pagiset-link pagiset-prev" href="javascript:void(0)">
                <span class="visually-hidden">이전</span>
              </a>
            </div>
            <div class="pagiset-list">
              <a class="pagiset-link active-fill" href="javascript:void(0)">1</a>
              <a class="pagiset-link" href="javascript:void(0)">2</a>
              <a class="pagiset-link" href="javascript:void(0)">3</a>
              <a class="pagiset-link" href="javascript:void(0)">4</a>
            </div>
            <div class="pagiset-ctrl">
              <a class="pagiset-link pagiset-next" href="javascript:void(0)">
                <span class="visually-hidden">다음</span>
              </a>
            </div>
            <div class="pagiset-ctrl">
              <a class="pagiset-link pagiset-last" href="javascript:void(0)">
                <span class="visually-hidden">마지막</span>
              </a>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <!-- [E]basic-N53 -->
    <!-- [S]basic-N24 -->
    <div class="basic-N24" data-bid="BULujLZ1zl" id="">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="form-group">
            <div class="textset">
              <h2 class="textset-tit">문의하기</h2>
            </div>
            <div class="inputset inputset-lg inputset-label">
              <label>
                <h6 class="inputset-tit">성함</h6>
                <input type="text" class="inputset-input form-control" placeholder="성함을 입력해주세요." aria-label="내용" required="">
              </label>
            </div>
            <div class="inputset inputset-lg inputset-label">
              <label>
                <h6 class="inputset-tit">아이디</h6>
                <input type="text" class="inputset-input form-control" placeholder="아이디를 입력해주세요." aria-label="내용" required="">
              </label>
            </div>
            <div class="inputset inputset-lg inputset-label">
              <label>
                <h6 class="inputset-tit">문의 내용</h6>
                <textarea class="inputset-textarea textarea-keyup form-control" placeholder="문의 내용을 입력해주세요." required=""></textarea>
                <div class="inputset-langth">
                  <span class="inputset-count">0</span>
                  <span class="inputset-total">/4000</span>
                </div>
              </label>
            </div>
            <div class="form-btn">
              <button class="btnset" type="button">제출하기</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]basic-N24 -->
  </main>
  <!-- [S]basic-N4 -->
  <footer class="basic-N4" data-bid="wXLUfRPsjY" id="">
    <div class="footer-container container-lg">
      <div class="footer-bottom">
        <div class="footer-txt">
          <p><span>강원도 춘천시 강원대학길 1</span></p>
          <p>
            <span>T. 033-250-6114</span>
          </p>
        </div>
        <div class="footer-txt">
          <p><span>KANGWON NATIONAL UNIVERSITY.</span></p>
        </div>
      </div>
    </div>
  </footer>
  <!-- [E]basic-N4 -->
  <script src="../resources/js/setting.js"></script>
  <script src="../resources/js/plugin.js"></script>
  <script src="../resources/js/template.js"></script>
  <script src="../resources/js/common.js"></script>
  <script src="../resources/js/script.js"></script>
</body>