<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="웹사이트">
  <meta name="description" content="웹사이트입니다.">
  <meta name="keywords" content="키워드,키워드,키워드">
  <meta property="og:title" content="웹사이트">
  <meta property="og:description" content="웹사이트입니다">
  <meta property="og:image" content="https://웹사이트/images/opengraph.png">
  <meta property="og:url" content="https://웹사이트">
  <title>공연예약 | test1</title>
  <link rel="stylesheet" href="../resources/css/setting.css">
  <link rel="stylesheet" href="../resources/css/plugin.css">
  <link rel="stylesheet" href="../resources/css/template.css">
  <link rel="stylesheet" href="../resources/css/common.css">
  <link rel="stylesheet" href="../resources/css/style.css">
</head>

<body>
  <!-- [S]basic-N3 -->
  <header class="basic-N3" data-bid="pFluFRInrX" id="">
    <div class="header-inner">
      <div class="header-container container-lg">
        <div class="header-left">
          <h1 class="header-title">
            <a href="javascript:void(0)">
              <img src="../medias/b0fd188794484dc48e1d0576a38071c3.jpg" alt="">
            </a>
          </h1>
          <div class="header-mobile-group">
            <div class="header-mobile-top">
              <p>로그인이 필요합니다.</p>
              <a href="javascript:void(0)">로그인</a>
            </div>
            <ul class="header-gnblist">
              <li class="header-gnbitem">
                <a class="header-gnblink" href="javascript:void(0)">
                  <span></span>
                </a>
              </li>
              <li class="header-gnbitem">&nbsp;<a class="header-gnblink" style="font-size: 16px; line-height: var(--lh-p3);"><span>홈</span></a><a class="header-gnblink" href="javascript:void(0)">
                  <span></span></a></li>
              <li class="header-gnbitem">
                <a class="header-gnblink" href="javascript:void(0)">
                  <span>공연예매</span></a>
              </li>
              <li class="header-gnbitem">
                <a class="header-gnblink" href="javascript:void(0)">
                  <span>고객센터</span>
                </a>
              </li>
              <li class="header-gnbitem">
                <a class="header-gnblink" href="javascript:void(0)">
                  <span></span>
                </a>
              </li>
            </ul>
            <button class="header-btn btn-close">
              <img src="../resources/icons/ico_close_white.svg" alt="닫기 아이콘">
            </button>
          </div>
        </div>
        <div class="header-right">
          <div class="header-utils">
            <button class="header-btn btn-allmenu">
              <img src="../resources/icons/ico_menu2_black.svg" alt="PC메뉴 아이콘">
            </button>
            <button class="header-btn btn-momenu">
              <img src="../resources/icons/ico_menu2_black.svg" alt="모바일메뉴 아이콘">
            </button>
            <button class="header-btn btn-close">
              <img src="../resources/icons/ico_close_black.svg" alt="닫기 아이콘">
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="header-dim"></div>
  </header>
  <!-- [E]basic-N3 -->
  <main class="th-layout-main ">
    <!-- [S]basic-N51 -->
    <div class="basic-N51" data-bid="PjLuFriO07" id="">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="contents-left">
            <div class="contents-thumbnail">
              <img class="contents-thumbimg" src="../resources/images/img_basic_N51_1.png" alt="썸네일이미지">
            </div>
            <ul class="contents-thumblist">
              <li class="contents-thumbitem">
                <img class="contents-thumbimg" src="../resources/images/img_basic_N51_1.png" alt="썸네일이미지">
              </li>
              <li class="contents-thumbitem">
                <img class="contents-thumbimg" src="../resources/images/img_basic_N51_2.png" alt="썸네일이미지">
              </li>
              <li class="contents-thumbitem">
                <img class="contents-thumbimg" src="../resources/images/img_basic_N51_3.png" alt="썸네일이미지">
              </li>
              <li class="contents-thumbitem">
                <img class="contents-thumbimg" src="../resources/images/img_basic_N51_4.png" alt="썸네일이미지">
              </li>
            </ul>
          </div>
          <div class="contents-right">
            <div class="contents-right-group">
              <div class="contents-brand">
                <a href="javascript:void(0);">(주)강원</a>
                <div class="contents-brand-group">
                  <button class="contents-btn btn-like-line">
                    <img src="../resources/icons/ico_like_black_line.svg" alt="하트 라인 아이콘">
                  </button>
                  <button class="contents-btn btn-like-fill">
                    <img src="../resources/icons/ico_like_black_fill.svg" alt="하트 채워진 아이콘">
                  </button>
                  <button class="contents-btn">
                    <img src="../resources/icons/ico_share_black.svg" alt="공유 아이콘">
                  </button>
                </div>
              </div>
              <div class="textset">
                <h2 class="textset-tit">공연1</h2>
                <p class="textset-desc">.</p>
              </div>
              <div class="contents-badge-group">
                <div class="badgeset badgeset-tag badgeset-round badgeset-line">
                  <span class="badgeset-text">#페스티벌</span>
                </div>
                <div class="badgeset badgeset-tag badgeset-round badgeset-line">
                  <span class="badgeset-text">#MZ</span>
                </div>
                <div class="badgeset badgeset-tag badgeset-round badgeset-line">
                  <span class="badgeset-text">#HOT</span>
                </div>
              </div>
              <p class="contents-price">32,000 <span>원</span>
              </p>
            </div>
            <div class="contents-right-group">
              <ul class="contents-right-list">
                <li class="contents-right-item">
                  <strong>매수</strong>
                  <div class="contents-amount">
                    <button class="contents-btn btn-minus" type="button">
                      <img src="../resources/icons/ico_minus_black.svg" alt="마이너스 아이콘">
                    </button>
                    <p class="contents-amount-num">1</p>
                    <button class="contents-btn btn-plus" type="button">
                      <img src="../resources/icons/ico_plus_black.svg" alt="플러스 아이콘">
                    </button>
                  </div>
                </li>
              </ul>
              <div class="contents-total">
                <strong>총 결제금액</strong>
                <p class="contents-price">32,000 <span>원</span>
                </p>
              </div>
            </div>
            <div class="contents-btn-group">
              <button class="btnset btnset-line" type="button">좌석선택</button>
              <button class="btnset" type="button">구매하기</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]basic-N51 -->
    <!-- [S]basic-N29 -->
    <div class="basic-N29" data-bid="JdLUQZdAc1" id="">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="textset">
            <h2 class="textset-tit">출연진</h2>
            <h3 class="textset-subtit"></h3>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]basic-N29 -->
    <!-- [S]basic-N10 -->
    <div class="basic-N10" data-bid="OXLUQZdy7d" id="">
      <div class="contents-container">
        <img class="contents-visual img-pc" src="../resources/images/img_subvisual.png" alt="서브 비주얼 PC 이미지">
        <img class="contents-visual img-mobile" src="../resources/images/img_subvisual_mobile.png" alt="서브 비주얼 모바일 이미지">
        <div class="contents-body container-md">
          <div class="textset textset-visual">
            <h2 class="textset-tit"></h2>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]basic-N10 -->
    <!-- [S]basic-N52 -->
    <div class="basic-N52" data-bid="LjluFRIo6B">
      <div class="contents-inner">
        <div class="tabset tabset-fluid">
          <ul class="tabset-list container-md">
            <li class="tabset-item">
              <a class="tabset-link active" href="javascript:void(0)">
                <span>상세정보</span>
              </a>
            </li>
            <li class="tabset-item">
              <a class="tabset-link" href="javascript:void(0)">
                <span>상품문의</span>
              </a>
            </li>
            <li class="tabset-item">
              <a class="tabset-link" href="javascript:void(0)">
                <span>리뷰</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="contents-container container-md">
          <div class="imageset">
            <img class="imageset-img" src="../resources/images/img_basic_N52_1.png" alt="이미지">
          </div>
        </div>
      </div>
    </div>
    <!-- [E]basic-N52 -->
  </main>
  <!-- [S]basic-N4 -->
  <footer class="basic-N4" data-bid="OFluFrioa3" id="">
    <div class="footer-container container-lg">
      <div class="footer-bottom">
        <div class="footer-txt">
          <p><span>강원도 춘천시 강원대학길 1</span></p>
          <p>
            <span>T. 033-250-6114</span>
          </p>
        </div>
        <div class="footer-txt">
          <p><span>KANGWON NATIONAL UNIVERSITY.</span></p>
        </div>
      </div>
    </div>
  </footer>
  <!-- [E]basic-N4 -->
  <script src="../resources/js/setting.js"></script>
  <script src="../resources/js/plugin.js"></script>
  <script src="../resources/js/template.js"></script>
  <script src="../resources/js/common.js"></script>
  <script src="../resources/js/script.js"></script>
</body>