<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="웹사이트">
  <meta name="description" content="웹사이트입니다.">
  <meta name="keywords" content="키워드,키워드,키워드">
  <meta property="og:title" content="웹사이트">
  <meta property="og:description" content="웹사이트입니다">
  <meta property="og:image" content="https://웹사이트/images/opengraph.png">
  <meta property="og:url" content="https://웹사이트">
  <title>게시글 페이지 | test1</title>
  <base href="/">
  <link rel="stylesheet" href="/css/setting.css">
  <link rel="stylesheet" href="/css/plugin.css">
  <link rel="stylesheet" href="/css/template.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div class="basic-N2" data-bid="csLVQQYZJB" >
  <div class="header-inner">
    <div class="header-container container-lg">
      <h1 class="header-title">
        <a href="javascript:void(0)">
          <img src="/images/duri.png" alt="">
        </a>
      </h1>
      <div class="header-right">
        <div class="header-title header-mobile-top">
          <a href="javascript:void(0)">
            <img src="/api/t-a/57/1714744800/resources/images/img_logo_black.png" alt="로고">
          </a>
        </div>
        <ul class="header-gnblist">
          <li class="header-gnbitem">
            <a class="header-gnblink" th:href="@{/home}">
              <span>홈</span>
            </a>
          </li>
          <li class="header-gnbitem">
            <a class="header-gnblink" th:href="@{/contestlist}">
              <span>공연</span>
            </a>
          </li>
          <li class="header-gnbitem">
            <a class="header-gnblink" th:href="@{/community}">
              <span contenteditable="true">게시판</span>
            </a>
          </li>
          <li class="header-gnbitem">
            <a class="header-gnblink" th:href="@{/signinup}">
              <span>로그인</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="header-utils">
        <button class="btn-momenu">
          <img src="/api/t-a/57/1714744800/resources/icons/ico_menu_black.svg" alt="모바일메뉴 아이콘">
        </button>
        <button class="btn-close">
          <img src="/api/t-a/57/1714744800/resources/icons/ico_close_black.svg" alt="닫기 아이콘">
        </button>
      </div>
    </div>
  </div>
<!-- [E]basic-N2 -->
<main class="th-layout-main ">
  <!-- [S]basic-N24 -->
  <div class="basic-N24" data-bid="DlLvv4So5z">
    <div class="contents-inner">
      <div class="contents-container container-md">
        <div class="textset">
          <h2 class="textset-tit" th:text="${post.postSubject}"></h2>
        </div>
        <table>
          <tbody>
          <tr>
            <th class="name" th:text="${post.member.memberName}">user1</th>
            <th class="date" th:text="${#dates.format(post.postCreateDate, 'yyyy-MM-dd')}">0000-00-00</th>
          </tr>
          </tbody>
        </table>
        <p th:text="${post.postContents}">문의 내용</p>        <hr>        <!-- 댓글 입력 폼 -->
        <form th:action="@{/submitComment(postId=${post.id})}" method="post">
          <textarea class="inputset-textarea form-control" placeholder="댓글을 작성하시오." required="" name="commentContent"></textarea>
          <button class="regist" type="submit">등록</button>
        </form>        <br><br><hr>        <!-- 댓글 목록 -->
        <div th:each="comment : ${comments}">
          <div class="comment-item">
            <div class="comment-info">
              <span class="comment-author" th:text="${comment.author}">작성자</span>
            </div>
            <div class="comment-content">
              <p th:text="${comment.content}">댓글 내용 --------------.</p>
            </div>
            <div class="comment-actions">
              <button class="edit-btn" th:if="${comment.author == #authentication.name}" th:onclick="'editComment(' + ${comment.id} + ');'">수정</button>
              <button class="delete-btn" th:if="${comment.author == #authentication.name}" th:onclick="'deleteComment(' + ${comment.id} + ');'">삭제</button>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div></div>
  <!-- [E]basic-N24 --></main>
<!-- [S]basic-N4 -->
<div class="basic-N4" data-bid="yPlvQQZ1v3" id="">
  <div class="footer-container container-lg">
    <div class="footer-bottom">
      <div class="footer-txt">
        <p><span>강원도 춘천시 강원대학길 1</span></p>
        <p>
          <span>T. 033-250-6114</span>          </p>
      </div>
      <div class="footer-txt">
        <p><span>KANGWON NATIONAL UNIVERSITY.</span></p>
      </div>
    </div>
  </div>

</div>
</div>
<!-- [E]basic-N4 -->
<script src="/js/setting.js"></script>
  <script src="/js/plugin.js"></script>
  <script src="/js/template.js"></script>
  <script src="/js/common.js"></script>
  <script src="/js/script.js"></script>
</body>
</html>